#include <dt-bindings/led/led.h>

/ {
    // Left encoder
    encoder_1: encoder_1 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
     };
 
     // Right encoder
     encoder_2: encoder_2 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
     };
};

///////// VIK SPI and connector start
&spi0 {
    // need to remove everything here except cs-gpios after https://github.com/zmkfirmware/zmk/pull/2280 is merged
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
};

// need to change to spi2, spi2_vik_pmw3610_default, spi2_vik_pmw3610_sleep after https://github.com/zmkfirmware/zmk/pull/2280 is merged
&spi1 {
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_vik_pmw3610_default>;
    pinctrl-1 = <&spi1_vik_pmw3610_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
	vik_conn: vik_connector {
		compatible = "sadekbaroudi,vik-connector";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map
			= <0 0 &gpio0  17 0>    /* vik SDA */
			, <1 0 &gpio0  20 0>    /* vik SCL */
			, <2 0 &gpio0  6 0>     /* vik RGB Data */
			, <3 0 &gpio1  7 0>     /* vik AD_1 */
			, <4 0 &gpio0  10 0>    /* vik MOSI */
			, <5 0 &gpio1  15 0>    /* vik AD_2 */
			, <6 0 &gpio0  9 0>     /* vik CS */
			, <7 0 &gpio1  11 0>    /* vik MISO */
			, <8 0 &gpio1  13 0>    /* vik SCLK */
			;
	};
};

// Note: vulpes minora uses pro micro pin compatible i2c and spi
vik_i2c: &pro_micro_i2c {}; // i2c0
vik_spi: &pro_micro_spi {}; // spi0 - will change to spi1 after https://github.com/zmkfirmware/zmk/pull/2280 is merged
vik_spi_pmw3610: &spi1 {}; // need to change to spi2 after https://github.com/zmkfirmware/zmk/pull/2280 is merged
///////// VIK SPI and connector end

&pinctrl {
    // VIK SPI pinctrl start
    // can remove spi0_default and spi0_sleep after https://github.com/zmkfirmware/zmk/pull/2280 is merged
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 0, 10)>,
                <NRF_PSEL(SPIM_MISO, 1, 11)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 0, 10)>,
                <NRF_PSEL(SPIM_MISO, 1, 11)>;
            low-power-enable;
        };
    };

    // need to change to spi2_vik_pmw3610_default after https://github.com/zmkfirmware/zmk/pull/2280 is merged
    spi1_vik_pmw3610_default: spi1_vik_pmw3610_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 1, 11)>,
                <NRF_PSEL(SPIM_MISO, 1, 11)>;
        };
    };

    // need to change to spi2_vik_pmw3610_sleep after https://github.com/zmkfirmware/zmk/pull/2280 is merged
    spi1_vik_pmw3610_sleep: spi1_vik_pmw3610_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 1, 11)>,
                <NRF_PSEL(SPIM_MISO, 1, 11)>;
            low-power-enable;
        };
    };
    // VIK SPI pinctrl end

    // LED pinctrl start
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
    // LED pinctrl end
};

// LED spi start
&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <4000000>;

        /* WS2812 */
        chain-length = <42>; /* arbitrary; change at will */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;

        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
// LED spi end

/ {
    chosen {
        zmk,underglow = &led_strip;
    };
};