# Copyright (c) 2024 Pete Johanson
# SPDX-License-Identifier: MIT

CONFIG_BOARD_TENBIT=y
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F411XE=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable GPIO
CONFIG_GPIO=y

# Clock configuration
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

# ZMK Settings
CONFIG_ZMK_USB=y

# Bump this to keep things happy.
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

# Settings subsystem
CONFIG_SETTINGS=y
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y

CONFIG_ZMK_EXT_POWER=n
CONFIG_USB_SELF_POWERED=n

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y
