# SPDX-License-Identifier: MIT

CONFIG_USB_DEVICE_MANUFACTURER="fingerpunch"
CONFIG_ZMK_KEYBOARD_NAME="ffkb holyiot"
CONFIG_USB_DEVICE_PRODUCT="ffkb holyiot"
CONFIG_ZMK_HID_CONSUMER_REPORT_USAGES_FULL=y

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y

# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y

# for leds, if configured
CONFIG_SPI=y

CONFIG_ZMK_SLEEP=y

CONFIG_USE_DT_CODE_PARTITION=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable Encoders
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# Enable underglow
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_WS2812_STRIP=y

# Allow toggling underglow without toggling external power
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n

CONFIG_BUILD_OUTPUT_UF2=y

# Increase BLE power level
CONFIG_BT_CTLR_TX_PWR_PLUS_8=n

# Explicitly enable USB
CONFIG_ZMK_USB=y

# for logging, if needed ( https://zmk.dev/docs/development/usb-logging )
# uncomment for logging with delayed startup
# CONFIG_ZMK_USB_LOGGING=y
# CONFIG_LOG_PROCESS_THREAD_STARTUP_DELAY_MS=8000
# CONFIG_LOG_BUFFER_SIZE=16384

# This fixes an issue with some of my machines not being able to connect to ZMK
# https://discord.com/channels/719497620560543766/1196958410147639386/1203582993864720394
# Note to self: add to all my personal keyboard configs :)
# CONFIG_ZMK_BLE_EXPERIMENTAL_FEATURES=y
