# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

config BOARD_XIMI_LEFT
	bool "Ximi Left"
	depends on SOC_RP2040

config BOARD_XIMI_RIGHT
	bool "Ximi Right"
	depends on SOC_RP2040
