# Copyright (c) 2024 Sadek Baroudi
# SPDX-License-Identifier: MIT

if SHIELD_BYKEEB_LEFT
config ZMK_KEYBOARD_NAME
    default "bykeeb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_BYKEEB_LEFT || SHIELD_BYKEEB_RIGHT
config ZMK_SPLIT
    default y
endif
