# Copyright (c) 2024, Sadek Baroudi
# SPDX-License-Identifier: MIT

if BOARD_VULPES_MAJORA_V1_BOARD

config BOARD
	default "vulpes_majora_v1_board"

config RP2_FLASH_W25Q080
	default y

endif # BOARD_VULPES_MAJORA_V1_BOARD
